H3 {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 1px; FONT: bold 15pt Arial,Verdana,Helvetica,sans-serif; COLOR: white
}
TH {
	FONT: bold 10pt Arial,Helvetica,sans-serif; COLOR: white
}
BODY {
	FONT: 10pt Arial,Helvetica,sans-serif; COLOR: black
}
TABLE {
	BORDER-RIGHT: white; BORDER-TOP: white; FONT: 8pt Arial,Helvetica,sans-serif; BORDER-LEFT: white; COLOR: black; BORDER-BOTTOM: white; BORDER-COLLAPSE: collapse
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
B {
	FONT-WEIGHT: bold
}
.num {
	FONT: 8pt Courier,serif
}
.tt {
	FONT: 8pt Courier,serif; COLOR: black
}
.headrow {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 1px; BACKGROUND: #cccccc; MARGIN-BOTTOM: 1px; FONT: bold 8pt Arial,Helvetica,sans-serif; BORDER-LEFT: 1px solid; COLOR: black; BORDER-BOTTOM: 1px solid; TEXT-ALIGN: center
}
.incell {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT: 8pt Arial,Helvetica,sans-serif; BORDER-LEFT: 1px solid; COLOR: black; BORDER-BOTTOM: 1px solid; TEXT-ALIGN: center
}
A {
	TEXT-DECORATION: none
}

A:link {
	COLOR: blue;TEXT-DECORATION:underline;
}
A:visited {
	COLOR: blue;TEXT-DECORATION:underline;
}
.menu1{
color:#ffffff;
FONT-SIZE: 8pt;
FONT-WEIGHT: bold;
text-decoration: none;
}

.menu1 {
COLOR: #FFB93F;
}
.menu1 A:link {
	COLOR: #FFB93F;
	FONT-WEIGHT: bold;
	text-decoration:none;	
}
.menu1 A:visited {
	COLOR: #FFB93F;
	FONT-WEIGHT: bold;
	text-decoration:none;
}
.menu1 A:hover {color: #eef}

.menu1v A:link {
	COLOR: #FFE04F;
}
.menu1v A:visited {
	COLOR: #FFE04F;
}
.menu1v A:hover {
	COLOR: #fff;
}

.menu2{
color:#ffffff;
FONT-SIZE: 8pt;
FONT-WEIGHT: bold;
text-decoration: none;
}
.menu2 A:link {
	COLOR: #FFB93F
}
.small 
{FONT: bold 9pt Arial,Helvetica,sans-serif; COLOR:#f0f0f0; text-decoration: none;}
.small A:hover {color: #fff;text-decoration: underline;}
.small A:link { 	
}
.small A:visited {COLOR:#f0f0f0; 	
}

.smallv{FONT: bold 9pt Arial,Helvetica,sans-serif; COLOR:#ff0; text-decoration: none;}
.smallv A:link {COLOR:#ff0; }
.smallv A:visited {COLOR:#ff0; }
.smallv A:hover {text-decoration: underline;}



.time_pos{
	color: #fff;
	background:#000;
}
.listline1{
	background:#eee;
}
.listline2{
	color: #fff;
	background:#fff;
}
.bar{
	color: #fff;
	FONT-WEIGHT: bold;
}

a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}
.minicommand{color:blue; font-size:10px;text-decoration:underline; }
.minicommand A:hover {color: #000; text-decoration: underline;}
.minicommand A:link {COLOR:blue;}
.minicommand A:visited {COLOR:blue;} 	